@{
    ViewBag.Title = "CopyFile";
}

<h2>Copy File</h2>
@using (Html.BeginForm("CopyFile", "TaskItems", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    @Html.Hidden("toTaskId", (int)ViewBag.TaskId)

    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("", "Task Url", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="input-group">
                    @Html.TextBox("taskUrl", "", new { type = "URL", @class = "form-control", style = "max-width:unset;" })
                    <span class="input-group-btn">
                        <button id="btnGetFiles" class="btn btn-default" type="button">Get Files</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("", "File", new { @class="control-label col-md-2" })
            <div class="col-md-6">
                <select id="fileId" name="fileId" class="form-control" style="max-width:unset;"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {

            $('#btnGetFiles').click(function () {
                $('#fileId').empty();
                getTaskFiles($("#taskUrl").val());
            });
        });

        function getTaskFiles(arg) {
            $.ajax({
                url: '/TaskItems/GetFiles',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ taskUrl: arg.toString() }),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    var options = $("#fileId");
                    $.each(data,function () {
                        options.append($("<option />").val(this.Id).text(this.Name));
                    });
                },
                error: function (xhr) {
                    console.error(xhr);
                }
            });
        }

    </script>
}
